@charset "utf-8";



.y_n {
	font-size: 0;
	width: 15px;
	height: 10px;
}

html {
	overflow:hidden;

}

body {
	width: 700%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #14253d;
	text-align: justify;
	position: absolute;
	margin: 0px;
}

#logo {
	position: fixed;
	width: 270px;
	height: 200px;
	background-image: url(../img/Imagem1.png);
}

header {
	width: 100%;
	height: 200px;
	background-image: url(../img/nuvem.png);
}

.footer {
	position: relative;
	top: 400px;
	background-image: url(../img/grass.png);
	width: 100%;
	height: 200px;
}

nav {
	float: left;
	position: fixed;
	height: 100%;
	width: 250px;
	margin: 100px 200px auto auto;
}

nav li {
	display: block;
	padding: 10px;
}

nav li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	text-decoration: none;
	font-weight: bolder;
	color: #0d8bb1;
}

nav li a:hover {
	color: #00a79d;
}

a {
	text-decoration: none;
	color: #0d8bb1;
}

a:hover {
	text-decoration: none;
	color: #00a79d;
}

.conteudo {
	width: 850px;
	height: 600px;
	float: left;
	margin: 30px auto auto 250px;
	padding-left: 250px;
	border-left: solid;
	border-left-color: #098bb1;
}

.conteudo p {
	margin: 150px 200px auto auto;
}

.voltar {
	position: relative;
	bottom: 50px;
	left: 900px;
	background-image:url(../img/voltar.png);
	height: 50px;
	width: 50px;
}

.voltar2 {
	position: relative;
	top: -100px;
	left: 700px;
	background-image:url(../img/voltar.png);
	height: 50px;
	width: 50px;
}


#home {
	background-image: url(../img/home.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
}

#busca {
	z-index: 10;
	background-image: url(../img/busca.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
	
}

#noticias {
	background-image: url(../img/noticias.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
}

#faq {
	background-image: url(../img/faq.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
}

#quem {
	background-image: url(../img/quem.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
}

#contato {
	background-image: url(../img/contato.png);
	background-position: top left, bottom right;
	background-origin: content-box;
	background-repeat: no-repeat, no-repeat;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 10px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 2px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.especifica {
	width: 45%;
	clear: both;
	float:left;

}

.ideal {
	width: 45%;
	float: right;
	
}



