.localizacao {
	margin-top: 15px;
}

.caminho-botao{
	display:none;
}

.mapa {
	height: 250px;
	margin-top:15px;
	border: 1px solid #243141;
}

@media ( min-width : 500px) {
	.mapa {
		height: 380px;
	}
}

.y {
	color:green;
}

.n{
	color:red;
}

.c-modalidade-body, .c-acesso-body, .c-infra-body, .c-sala-body, 
.c-lab-body, .c-recreacao-body, .c-sanitarios-body, .c-servicos-body{
	display:none;
}

@media (min-width: 450px){
	.c-modalidade-body, .c-acesso-body, .c-infra-body, .c-sala-body, 
	.c-lab-body, .c-recreacao-body, .c-sanitarios-body, .c-servicos-body{
		display:block;
	}
}

.categoria-dado{
	text-align: left;	
}

.dado{
	text-align: left;
	padding:5px;
}

.categoria{
	margin-bottom:15px;	
}

.categoria-title{
	text-align: left;
	margin-bottom: 10px;
	background: #eee;
	padding: 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.categoria-title a, a.categoria-title{
	color: #243141;
	font-weight: bold;
}

.categoria-title a span, a.categoria-title span{
	float: right;
}

.cabecalho{
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
}

.col-2 {
	border-left: 1px solid #bbb;
}