<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee     
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>  
    	<servlet-name>realizarConsultaEscolaIdeal</servlet-name>  
    	<servlet-class>br.com.mdsgpp.guiaescolaideal.servlets.PesquisarEscolaIdealServlet</servlet-class>  
	</servlet>  
  
  <servlet-mapping>  
    <servlet-name>realizarConsultaEscolaIdeal</servlet-name>  
    <url-pattern>/realizarConsultaEscolaIdeal.jsp</url-pattern>  
  </servlet-mapping>  
  
  <servlet>  
    	<servlet-name>realizarConsultaEscolaEspecifica</servlet-name>  
    	<servlet-class>br.com.mdsgpp.guiaescolaideal.servlets.PesquisarEscolaEspecificaServlet</servlet-class>  
	</servlet>  
  
  <servlet-mapping>  
    <servlet-name>realizarConsultaEscolaEspecifica</servlet-name>  
    <url-pattern>/realizarConsultaEscolaEspecifica.jsp</url-pattern>  
  </servlet-mapping> 
  
  <servlet>  
    	<servlet-name>pegarEscola</servlet-name>  
    	<servlet-class>br.com.mdsgpp.guiaescolaideal.servlets.EscolaPorIdServlet</servlet-class>  
	</servlet>  
  
  <servlet-mapping>  
    <servlet-name>pegarEscola</servlet-name>  
    <url-pattern>/pegarEscola.jsp</url-pattern>  
  </servlet-mapping> 
</web-app>